* {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

body {
  overflow: hidden;
}

#top-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  background: #222222;
  color: #EEEEEE;
  font-size: 18px;
  padding-left: 18px;
  text-transform: uppercase;
}

#left-container {
  position: fixed;
  top: 54px;
  left: 0;
  right: 50%;
  bottom: 0;
}

#text-content {
  background: #111111;
  border: 0;
  color: #EEEEEE;
  cursor: text;
  font-family: monospace;
  font-size: 18px;
  height: 100%;
  outline: none;
  overflow: auto;
  padding: 18px;
  resize: none;
  white-space: pre;
  width: 100%;
}

#right-container {
  position: fixed;
  top: 54px;
  left: 50%;
  right: 0;
  bottom: 0;
}

#svg-container {
  background: #000000;
}

circle {
  fill: #FFFFFF;
}
