* {
  box-sizing: border-box;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  overflow: hidden;
}

#top-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  background: #222222;
  color: #EEEEEE;
  font-size: 18px;
  padding-left: 18px;
  text-transform: uppercase;
}

#text-container {
  position: fixed;
  top: 54px;
  left: 0;
  right: 50%;
  bottom: 0;

  background: #111111;
  border: 0;
  color: #EEEEEE;
  font-family: monospace;
  font-size: 18px;
  outline: none;
  overflow: auto;
  padding: 18px;
  resize: none;
}

#text-container * {
  font-family: monospace;
}

.text-reserved-word {
  font-weight: bold;
}

#svg-container {
  position: fixed;
  top: 54px;
  left: 50%;
  right: 0;
  bottom: 0;
}

#svg-content {
  background: #000000;
}

.svg-node {
  cursor: pointer;
  fill: #FFFFFF;
}

.hovered {
  fill: #3399EE;
}

.selected {
  fill: #3399EE;
}

.svg-tooltip {
  fill: #000000;
  fill-opacity: 0.75;
  position: fixed;
}

.tooltip {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 18px;
  padding: 9px;
}
