* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  cursor: default;
  overflow: hidden;
}

#top-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  background: #222222;
  color: #999999;
  font-size: 18px;
  padding-left: 18px;
  text-transform: uppercase;
}

#text-container {
  position: fixed;
  top: 54px;
  left: 50%;
  right: 0;
  bottom: 0;
}

#text-content {
  width: 100%;
  height: 100%;

  background: #111111;
  border: 0;
  color: #EEEEEE;
  font-family: monospace;
  font-size: 18px;
  outline: none;
  overflow: auto;
  padding: 18px;
  resize: none;
}

.text-reserved-word {
  font-weight: bold;
}

#svg-container {
  position: fixed;
  top: 54px;
  left: 0;
  right: 50%;
  bottom: 0;
}

#svg-content {
  background: #000000;
}

.svg-node {
  cursor: pointer;
  fill: #FFFFFF;
}

.svg-node.hovered {
  fill: #33CCEE;
}

.svg-node.pressed {
  stroke: #FFFFFF;
  stroke-width: 3px;
}

.svg-node.selected {
  fill: #33EE99;
}

.svg-status {
  fill: transparent;
  position: fixed;
}

.status {
  color: #CCCCCC;
  font-size: 15px;
  padding: 9px;
}

.status-value {
  font-weight: bold;
}

.svg-tooltip {
  fill: #000000;
  fill-opacity: 0.75;
  position: fixed;
}

.tooltip {
  color: #FFFFFF;
  font-family: monospace;
  font-size: 18px;
  padding: 9px;
}

.svg-button {
  cursor: pointer;
}

.svg-button-fill {
  fill: #222222;
}

.svg-button-fill.pressed {
  fill: #191919;
}

.svg-button-shadow {
  stroke: #111111;
  stroke-width: 3px;
}

.svg-button-icon {
  stroke: #999999;
  stroke-width: 3px;
}
